<div ng-show="!item.inprocess">
    <button class="btn btn-sm btn-default" ng-show="config.allowedActions.download && !item.isFolder()" ng-click="download(item)" title="{{'download' | translate}}">
        <i class="glyphicon glyphicon-cloud-download"></i>
    </button>
    </button>
    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete" ng-show="config.allowedActions.remove" ng-click="touch(item)" title="{{'remove' | translate}}">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>
<div ng-show="item.inprocess">
    <button class="btn btn-sm" style="visibility: hidden">&nbsp;</button><span class="label label-warning">{{"wait" | translate}} ...</span>
</div>